* {
  font-family: 'Open Sans', sans-serif;
  border: 1px dotted lime;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

}

nav {
  background-color: #1f1f3d;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  /* justify-content: flex-start; */
}

h1 {
  color: #e9e9f3;
  font-size: 16px;
  padding-left: 15px;
}

h2 {
  color: #bfbfdd;
  font-size: 12px;
  padding-left: 15px;
}

.filter-show {
  border: 1px solid #353567;
}

.show-starred-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.show-button {
  color: #bfbfdd;
  background-color: #5356a4;
  padding: 6px 10px;
  font-weight: bold;
  border: 2px solid #50539e;
}

main {
  width: 75%;
  background-color: #a9aad2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 375px;
  height: 45px;
  border: 2px solid #6d70b1;
}

.body {
  width: 375px;
  height: 90px;
  border: 2px solid #6d70b1;
}

label {
  font-weight: bold;
  color: #1f1f3d;
  margin-top: 10px;
  margin-bottom: 5px;
}

main {
  height: 100vh;
}

.title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.save-button {
  width: 383px;
  height: 45px;
  margin: 25px;
  background-color: #1f1f3d;
  color: #e9e9f3;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #6d70b1;
}

.search-field {
  display: flex;
  justify-content: center;
  border: 2px solid #6d70b1;
}

.magnifying-glass {
  background-color: #1f1f3d;
  width: 38px;
  height: 38px;
  padding: 5px;
}

.search-box {
  width: 320px;
  height: 45px;
  color: #1f1f3d;
  font-size: 15;
  padding-left: 5px;
}

.idea-display {
  background-color: #eaeaf4;
}

.idea-box {
  width: 245px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
}

.star {
  width: 38px;
  display: none;
}

.star-checked {
  width: 38px;
}

.delete-icon {
  width: 38px;
}

.idea-body {
  height: 100%;
}

h3 {
}

p {
}

footer {
  background-color: #5356a4;
  display: flex;
  height: 42px;
}

.add-comment {
  width: 38px;
}
