* {
  font-family: 'Open Sans', sans-serif;
  border: 1px dotted lime;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

}

nav {
  background-color: #1f1f3d;
  display: flex;
  flex-direction: column;
  width: 25%;
  /* justify-content: flex-start; */
}

h1 {
  color: #e9e9f3;
  font-size: 16px;
  padding-left: 15px;
}

h2 {
  color: #bfbfdd;
  font-size: 12px;
  padding-left: 15px;
}

.filter-show {
  border: 1px solid #353567;
}

.show-starred-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.show-button {
  color: #bfbfdd;
  background-color: #5356a4;
  padding: 6px 10px;
  font-weight: bold;
}

main {
  width: 75%;
  background-color: #a9aad2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 375px;
  height: 45px;
}

.body {
  width: 375px;
  height: 90px;
}

label {

  color: #1f1f3d;
  margin-top: 10px;
  margin-bottom: 5px;
}

.title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.save-button {
  width: 381px;
  height: 45px;
  margin: 25px;
}

.search-field {
  display: flex;
  justify-content: center;
}

.magnifying-glass {
  background-color: #1f1f3d;
  width: 45px;
  height: 45px;
}

.search-box {
  width: 330px;
  height: 45px;
  color: #1f1f3d;
}
