* {
  font-family: 'Open Sans', sans-serif;
  border: 1px dotted lime;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

}

nav {
  background-color: #1f1f3d;
  display: flex;
  flex-direction: column;
  width: 25%;
  /* justify-content: flex-start; */
}

h1 {
  color: #e9e9f3;
  font-size: 16px;
  padding-left: 15px;
}

h2 {
  color: #bfbfdd;
  font-size: 12px;
  padding-left: 15px;
}

.filter-show {
  border: 1px solid #353567;
}

.show-starred-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.show-button {
  color: #bfbfdd;
  background-color: #5356a4;
  padding: 6px 10px;
  font-weight: bold;
}
